body {
    background-color: #06E68A;
}
li::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
.container {
    display: inline-block;
    width: 1000px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
}