.container > .right {
    display: inline-block;
    float: left;
    width: 55%;
    position: absolute;
    background: url(..//img/569740.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: teal;
    padding: 60px;
    top: 0;
	bottom: 0;
}
.container > .right >.logo {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 60px;
    width: 50%;
}